.empty-cell {
  width: 30px;
  height: 30px;
  background-color: #000000;
  /* border: 1px solid #858585; */
}

.cell {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.border {
  border: 1px solid #858585;
}

.no-display{
  display: none;
  z-index: -100;
}

.cyan {
  background: linear-gradient(135deg, #1ffcfd, #00b2c8);
}

.orange {
  background: linear-gradient(135deg, #fdae2d, #e68a00);
}

.red {
  background: linear-gradient(135deg, #fe291f, #c82c24);
}

.blue {
  background: linear-gradient(135deg, #3100fa, #1a0087);
}

.purple {
  background: linear-gradient(135deg, #9f00fa, #70009d);
}

.yellow {
  background: linear-gradient(135deg, #fcff3c, #c3c900);
}

.green {
  background: linear-gradient(135deg, #00fe32, #00a500);
}

.white {
  background: linear-gradient(135deg, #e0e0e0, #b3b3b3);
}
