.multi-game-container{
    height: calc(100vh - 105px);
    width: 100vw;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.text {
  font-family: 'Press Start 2P', cursive;
  color: rgb(128, 128, 128);
    font-size: 24px;
    font-weight: bold;
}

.next-piece {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    margin-top: 10px;
}

.win{
  font-family: 'Press Start 2P', cursive;
    color: rgb(89, 172, 7);
    font-size: 24px;
    font-weight: bold;
}

.player-section, .opponent-section {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.game-over {
    font-family: 'Press Start 2P', cursive;
    color: red;
    font-size: 24px;
    font-weight: bold;
}

.play-button{
    margin-top: 10px;
}