.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box; 
    width: 100%;
    max-width: 100vw;
    background-color: #1a1a1a;
    border-bottom: 2px solid #ff0000;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.7);
    animation: borderFlicker 2s infinite;
    z-index: 10;
}

a{
    cursor: pointer;
}

.header-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    color: #ff4d4d;
    text-shadow: 0 0 10px rgba(255, 0, 0, 1);
    transition: all 0.3s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.header-nav {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links li a {
    color: #ff4d4d;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
}

.nav-links li a:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 0, 0, 1);
}

@keyframes borderFlicker {
    0% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.7);
    }
    50% {
        box-shadow: 0 0 25px rgba(255, 0, 0, 1);
    }
    100% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.7);
    }
}
